.wp-eats-body {
  background: #f7f8fa;
  font-family: 'Roboto', sans-serif;
}
.wp-eats__content {
  padding: 50px 60px;
  margin: 0 auto;
  max-width: 1870px;
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
  }
}
.wp-eats__title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
}
.wp-eats__filters {
  .wp-eats__status-filter {
    label {
      color: #6c7481;
      text-transform: uppercase;
    }
    input {
      &:checked + label {
        background: #6c7481;
        color: #fff;
      }
    }
  }
  .wp-eats__date-filters {
    min-width: 325px;
  }
  .button {
    &.button--mark-as-paid {
      background: #ff9600;
    }
  }
}
.wp-eats__list {
  table {
    background: #fff;
    border: 1px #e2e4e3 solid;
    border-radius: 5px;
    border-collapse: separate;
  }
  thead {
    th {

    }
  }
}